/*
    < QUESTIONS MODAL >
*/

.QuestionsModal {
    /* position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    width: 95%;
    min-height: 250px; /* random number */
    margin: auto;
    background-color: white;
    color: black;
    border-radius: 2px;    
    align-self: center;
    display: flex;
    flex-direction: column;
}

.QuestionsModal__message {    
    color: #39434d;
    display: inline;    
}


.QuestionsModal__icon-wrapper {
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
    color: #39434d;
    font-size: 22px;
}
    
.message-wrapper {
    padding-top: 10px;
}

.QuestionsModal__answers {
    
}