/*
    < SHARE INVITES >
*/

.ShareInvites  {
    align-items: center;
}

/*
    ICON
*/

.ShareInvites__icon-wrapper {
    text-align: left;
    width: 100%;
    padding-left: 15px;
}

.ShareInvites__icon {
    font-size: 48px;
    font-weight: lighter; /* TODO lighter */
    color: #50b9dc;
}

/*
    IMAGE
*/

.ShareInvites__image {
    padding-top: 50px;
    margin: 0 auto;
    width: 40%;
}

/*
    BUTTON
*/

.ShareInvites__button {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*
    </ SHARE UINVITES >
*/
