/*
    < WELCOME PAGE >
*/

.WelcomePage {
}

/*
    HEADER
*/

.WelcomePage__header {
    padding: 25px 10px 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
}

/*
    IMAGE
*/

.WelcomePage__image {
    padding-top: 15px;
    width: 44%; /* (750 / 330) - taken from mockup */
    margin-left: auto;
    margin-right: auto;
}

/*
    LINKS
*/

.WelcomePage__link-group {
    
}

.WelcomePage__link {
    font-size: 15px;
}


/*
    </ WELCOME PAGE >
*/