/*
    < WAITING LIST >
*/

.WaitingList {
}

/*
    IMAGE
*/

.WaitingList__image {
    margin: 0;
    width: 100%;
    height: 40%;    
}

/*
    QUEUE
*/

.WaitingList__queue {
    
}

.Stats {
    margin-top: 35px;    
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.Stats__line {
    font-weight: 300;
    margin: 0;
}

.Stats__line--highlighted {    
    font-size: 48px;
    color: #50b9dc;
}

/*
    EXPLANATION
*/

.WaitingList__paragraph {        
    font-weight: 500;
    margin-bottom: 5px;
}

.WaitingList__link-group { 
    padding-bottom: 0;   
}

.WaitingList__button {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .5px;
    margin-bottom: 15px;
}

/*
    </ WAITING LIST >
*/