/*
    POP UP
*/

.PopUp {
    position: absolute;
    width: 100%; /* fallback */
    height: 100%; /* fallback */
    width: 100vw;
    height: 100vh;
    transition: all 250ms ease-in;
}

.PopUp--hidden {
    transform: translateY(-100vh);    
}

.PopUp__cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.75), 
        rgba(0, 0, 0, 0.75)
    );
}

.PopUp__content {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
}