/*
    <EXPLANATION PAGE>
*/

.ExplanationPage {    
}

/*
    TITLE
*/

.ExplanationPage__header {
    margin-top: 100px;
    font-size: 20px;
}

/*
    LINKS
*/

.ExplanationPage__link-group {
}

.ExplanationPage__button {
    font-weight: bold;    
}

.ExplanationPage__link {
    font-size: 12px;
    font-weight: bold;
}



/*
    </ EXPLANATION PAGE >
*/

