/*
    SOME COMMON STYLES
*/

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900);

html,
body {
  width: 100%;
  height: 100%;
}

body {  
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/*
    PAGE LAYOUT
*/

.page-layout {
  width: 100%; /* fallback value */
  height: 100%; /* fallback value */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  background-color: #14223c;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  flex: 1;
}

/*
    IMAGE
*/

.image {
  width: 100%;
  height: 100%;
}

/*
    BUTTON
*/

.button {
  color: white;
  background-color: #00a3db;
  border-color: #00a3db;
  display: inline-block;
  padding: 10px 14px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 6px;
}

.button--fullwidth {
  width: 90%;
}

.button--sm-border-radius {
  border-radius: 2px;
}

.button--dark-blue {
  background-color: #1a527a;
}

.button--shifted-down {
  margin-bottom: 10px;
}

.button--dark {
  background-color: #434f64;
}

/*
    LINK
*/

.link {  
  color: #00a3db;  
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap; 
}

.link--shifted-down {
  position: relative;
  bottom: 25px;
}

.link--bold {
  font-weight: bold;
}

.link--highlight {
  color: #50b9dc;
}

/*
    LINKS GROUP
*/

.link-group {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

/*
    PARAGRAPH
*/

.paragraph {
  padding: 10px 20px 10px;
  font-size: 14px;
  word-spacing: 1.25px;    
  line-height: 1.5;
  font-weight: 400;
}
