/*
    < ORDERED LIST >
*/

.OrderedList {
    list-style-type: none;
    padding: 0;    
}

.OrderedList__item {
    padding: 20px;
    padding-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    white-space: pre-wrap;
}

.OrderedList__item:first-child {
    padding-top: 10px
}

/*
    BULLET POINT
*/

.bulletPoint {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 20px auto 20px;
    border-radius: 50%;    
    border: 1px solid #5b6578;        
}

.bulletPoint__content {
    font-size: 20px;
    font-weight: bold;
    color: #5b6578;    
}

/*
    PARAGRAPH
*/

.OrderedList__paragraph {
    padding: 0;
    font-weight: 500;
}

/*
    </ ORDERED LIST >
*/